html 
{
  font-family: sans-serif;
  font-size: 16px;
  background: #5e42a6;
}

banner
{
  height:75%;
  width:100%
}

nav 
{
  display: flex;
  height:80px;
  
}

video-section
{
  display: flex;
  
}

gallery-section
{
  display: flex;
}

info-section
{
  display: flex;
}

