:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #0652dd;
  --secondary-color: #ea2027;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;
}

html {
    scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

body {
    margin: 0;
    margin-top: 80px;
    font-family: sans-serif;
    padding: 30px;
}

header {
    display: flex;
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
    box-shadow: 2px 3px 2px #f1f1f1;
    z-index: 1;
}

header * {
    display: inline;
}

header img {
    margin-left: 40px;
    height: 80px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 10px;
}

nav {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

nav-item {
    margin: 2rem 0;
}

sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
  
#hero .profile-img {
    width: 300px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 50px;
}

#hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

#hero .btn {
    display: block;
    width: 200px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border: 3px solid white;
    border-radius: 20px;
    background-color: rgba(147, 112, 219, 0.8);
}

#artwork .artbtn1 {
    display: block;
    width: 200px;
    height: 200px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border: 3px solid white;
    border-radius: 20px;
    align-items: center;
    flex-wrap: wrap;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-image:url("images/Placeholder.png");
}

#artwork .artbtn2 {
    display: block;
    width: 200px;
    height: 200px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border: 3px solid white;
    border-radius: 20px;
    align-items: center;
    flex-wrap: wrap;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-image:url("images/Placeholder.png");
}

#artwork .artbtn3 {
    display: block;
    width: 200px;
    height: 200px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border: 3px solid white;
    border-radius: 20px;
    align-items: center;
    flex-wrap: wrap;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-image:url("images/Placeholder.png");
}

artwork-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1rem;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color: black;
}

#hero {
    width: 100vw;
    background-image: url('images/BG.png');
}

#artwork {
    background-image: url('images/BGBG.png');
}

#about {
    background-image: url('images/BG.png');
}

#contact {
    background-image: url('images/BGBG.png');
}
